<!doctype html>
<html>
<head>
    <title>frc-oracle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='frc-oracle.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <center>
    <h1>frc-oracle</h1>
    <p>Rank teams and predict matches at FRC events.</p>

{% if not google_data %}
    <a href="{{ url_for('google.login') }}">Login with Google</a>
{% else %}
    <p>Hello, {{ google_data['email'] }}!</p>
    <a href="{{ url_for('logout') }}">Log out</a>
    <br>
    <br>
    {% for event in events['Events'] %}
        <a href="{{ url_for('event', id=event['id']) }}">{{ event['name'] }}</a>
        <br>
    {% endfor %}
{% endif %}
    </center>
</body>
</html>